
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

header {
  font-size: 16px;
}

/* Utility */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.padding_top_standard {
  padding-top: 40px;
}

.padding_bottom_standard {
  padding-bottom: 40px;
}

.bg_grey {
  background-color: #F3F5F9;
}
.bg_blue {
  background-color: blue;
  color: white;
}
/* Fine Utility */
/* Font */
h1 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
h5 {
  font-weight: bold;
}
h6 {
  font-weight: bold;
}
/* Fine Font */
/* Navbar */
.ms_navbar {
  background-color: white;
}

.ms_navbar .navbar-toggle .icon-bar {
  background-color: #2285FD;
  height: 4px;
}

.navbar-toggle {
  margin-right: 0;
}

.ms_navbar a:not(.navbar_a) {
  color: #031C4E;
}
.ms_navbar_left {
  padding-left: 80px;
}
.ms_navbar_left>li>a {
  padding: 20px 10px;
}

.ms_navbar_right>li>a:not(.navbar_a) {
  padding: 20px 10px;
}

.ms_navbar_right>li>.navbar_a {
  padding: 12px;
  font-size: 14px;
  color: #3889FF;
}
.navbar_button {
  padding: 6px 10px;
  background: none;
  border: 2px solid #3889FF;
  border-radius: 5px;
}
/* Fine Navbar */
/* Jumbotron 1 */
.jumbo_1 {
  background-color: blue;
  color: white;
  margin-top: 60px;
  margin-bottom: 0;
}
.jumbo_left {

}
.jumbo_right {
  color: #031C4E;
}

.getstarted_box {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
.getstarted_box h3 {
  padding: 10px;
}
.ms_input-group {
  display: block;
}
.ms_form-control {
  margin-top: 10px;
}
.ms_btn {
  margin-top: 10px;
  width: 100%;
}
.ms_btn img {
  width: 15px;
}
.btn_logo {
  padding: 0;
  text-align: left;
  position: absolute;
}

.ms_input-group h6 {
  margin-top: 20px;
}
.ms_input-group h6 a {
  text-decoration: underline;
}
/* Fine Jumbotron 1*/
/* Jumbotron 2*/
.jumbo_2 {
  padding: 30px 0;
}
.jumbo_loghi {
  margin: 30px 0;
}
.jumbo_logo {
  background-color: black;
  height: 100px;
  width: 100px;
}
/* Fine Jumbotron 2*/
/* Deploy */
.deploy_table {
  margin: 30px 0;
}
.deploy_table ul {
  border-left: 1px solid black;
  list-style: none;
}
.deploy_table li {
  padding: 8px 0;
}
.deploy_table_left,
.deploy_table_right {
  text-align: left;
}
.table_content {
  padding: 20px;
}
/* Fine Deploy */
/* Designed */
.carousel_center {
  margin-top: 30px;
  margin-bottom: 10px;
}
.carousel_center img {
  width: 400px;
}
.designed_carousel .fas {
  font-size: 25px;
  color: grey;
  padding: 20px;
}
.designed_carousel h5 {
  margin-bottom: 10px;
}
.designed_carousel button {
  width: 10px;
  height: 10px;
  border: 1px solid blue;
  border-radius: 10px;
}
.btn_1 {
  background-color: blue;
}
/* Fine Designed */
/* Features */
.features_table {
  margin: 20px auto;
}
/* Fine Features */
/* Service */
.service {
  padding: 20px;
}
.service_table {
  width: 100%;
}
.service_table tr {
  border-bottom: 1px solid #e5e8ed;
}
.service_table td {
  padding: 10px 10px;
}
.td_left {
  font-weight: bold;
}
.td_center {
  opacity: 0.6;
  margin-left: 20px;
}
.td_right a{
  color: lightblue;
}
.td_right .fas {
  font-size: 10px;
  margin-left: 10px;
}
/* Fine Service */
/* Get Started */
.get_started h3 {
  margin: 0 0 30px 0;
}

@media screen and (max-width:767px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    display: none;
  }
}
@media screen and (max-width:1180px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    font-size: 80%;
  }
}
@media screen and (max-width:1075px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    font-size: 70%;
  }
}
@media screen and (max-width:1012px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    font-size: 50%;
  }
}
@media screen and (max-width:905px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    font-size: 40%;
  }
}
