
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

header {
  font-size: 16px;
}

/* Utility */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.padding_top_standard {
  padding-top: 40px;
}

.padding_bottom_standard {
  padding-bottom: 40px;
}

.bg_grey {
  background-color: #F3F5F9;
}
.bg_blue {
  background-image: linear-gradient(180deg,#0242bc 0,#001e9a);
  color: white;
}
/* Fine Utility */
/* Font */
h1 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
h5 {
  font-weight: bold;
}
h6 {
  font-weight: bold;
}
/* Fine Font */
/* Navbar */
.ms_navbar {
  background-color: white;
}

.ms_navbar .navbar-toggle .icon-bar {
  background-color: #2285FD;
  height: 4px;
}

.navbar-toggle {
  margin-right: 0;
}

.ms_navbar a:not(.navbar_a) {
  color: #031C4E;
}
.ms_navbar_left {
  padding-left: 80px;
}
.ms_navbar_left>li>a {
  padding: 20px 10px;
}

.ms_navbar_right>li>a:not(.navbar_a) {
  padding: 20px 10px;
}

.ms_navbar_right>li>.navbar_a {
  padding: 12px;
  font-size: 14px;
  color: #3889FF;
}
.navbar_button {
  padding: 6px 10px;
  background: none;
  border: 2px solid #3889FF;
  border-radius: 5px;
}
/* Fine Navbar */
/* Jumbotron 1 */
.jumbo_1 {
  background-image: url(../img/bg_jumbotron.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  margin-top: 60px;
  margin-bottom: 0;
}
.jumbo_left {
  padding-right: 80px;
}
.jumbo_right {
  color: #031C4E;
}

.getstarted_box {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.title_blue {
  color: #006AFF;
  margin-top: 0;
}
.ms_input-group {
  display: block;
}
.ms_form-control {
  margin-top: 10px;
}
.ms_btn {
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  border: none;
}
.ms_btn img {
  width: 15px;
}
.btn_logo {
  padding: 0;
  text-align: left;
  position: absolute;
}
.btn_blue {
  background-color: #579AFF;
  color: white;
}
.btn_white {
  box-shadow: 1px 2px #8888885c;
}
.btn_text {
  color: #626262;
}

.ms_input-group h6 {
  margin-top: 20px;
}
.ms_input-group h6 a {
  text-decoration: underline;
  color: #006AFF;
}
/* Fine Jumbotron 1*/
/* Jumbotron 2*/
.jumbo_2 {
  padding: 30px 0;
}
.jumbo_loghi {
  margin: 30px 0;
}
.jumbo_logo {

  margin: 0 auto;
}
.jumbo_title h5 {
  color: #6F7B97;
}

.h5_link {
  color: #006AFF;
}
/* Fine Jumbotron 2*/
/* Deploy */
.deploy_table {
  margin: 30px 0;
}
.deploy_table ul {
  border-left: 1px solid black;
  list-style: none;
}
.deploy_table li {
  padding: 8px 0;
}
.deploy_table_left,
.deploy_table_right {
  text-align: left;
}
.table_content {
  padding: 20px 50px 0 20px;
}
.table_content img {
  width: 10%;
}
.table_content p {
  font-size: 12px;
}
.deploy_title p {
  padding: 10px 100px;
}
/* Fine Deploy */
/* Designed */
.carousel_center {
  margin-top: 30px;
  margin-bottom: 10px;
}
.carousel_center img {
  width: 100%;
}
.carousel_left,
.carousel_right {
  padding-top: 15%;
}
.designed_carousel .fas {
  font-size: 25px;
  color: grey;
  padding: 20px;
}
.designed_carousel h5 {
  margin-bottom: 10px;
}
.designed_carousel button {
  width: 10px;
  height: 10px;
  border: 1px solid #006AFF;
  border-radius: 10px;
}
.btn_1 {
  background-color: #006AFF;
}
/* Fine Designed */
/* Features */
.features_table {
  margin: 20px auto;
}
.features_table a {
  color: #006AFF;
  font-weight: bold;
}
.features_table img {
  width: 8%;
}
.features_table p {
  font-size: 12px;
  padding-right: 50px;
}
/* Fine Features */
/* Service */
.service {
  padding: 20px;
}
.service_row {
  padding: 20px 15px;
}
.service_table {
  width: 100%;
}
.service_table tr {
  border-bottom: 1px solid #e5e8ed;
}
.service_table td {
  padding: 10px 10px;
}
.td_left {
  font-weight: bold;
}
.td_center {
  opacity: 0.6;
  margin-left: 20px;
}
.td_right a{
  color: #00D7D2;
  font-weight: bold;
}
.td_right .fas {
  font-size: 10px;
  margin-left: 10px;
}
/* Fine Service */
/* Rockerbox */
.rockerbox {
  width: 80%;
  background-color: white;
}
.carousel_center_rockerbox {
    margin-top: 30px;
  margin-bottom: 10px;
  background-color: white;
}
.carousel_center_rockerbox img {
  width: 50%;
  padding-top: 50px;
}
.carousel_center_rockerbox p {
  margin-top: 10px;
}
.carousel_center_rockerbox a {
  color: #006AFF;
}
.carousel_center_rockerbox h6 {
  margin-bottom: 40px;
}
.carousel_left_rockerbox,
.carousel_right_rockerbox {
  line-height: 25;
}
/* Get Started */
.get_started h3 {
  margin: 0 0 30px 0;
}
.getstarted_btn {
  color: #006AFF;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
}
/* Fine Get Started */






@media screen and (max-width:767px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    display: none;
  }
  .carousel_right,
  .carousel_left,
  .carousel_center .fas {
    display: none;
  }
}
@media screen and (max-width:1180px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    font-size: 80%;
  }
}
@media screen and (max-width:1075px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    font-size: 70%;
  }
}
@media screen and (max-width:1012px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    font-size: 50%;
  }
}
@media screen and (max-width:905px) {
  .ms_navbar_left,
  .ms_navbar_right,
  .navbar_button {
    font-size: 40%;
  }
}
